@font-face {
  font-family: 'KCCHanbit';
  src: url('./fonts/KCC-Hanbit.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'KCCHanbit', sans-serif;
}